RewriteEngine on
allow from all
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [NC,R,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

#RewriteCond %{HTTP_HOST} !^www.shareroom.vn$ [NC]
#RewriteRule ^(.*)$ http://www.shareroom.vn/$1 [L,R=301]
#RewriteCond %{HTTP_HOST} ^112.78.1.111
#RewriteRule (.*) http://www.shareroom.vn/$1 [R=301,L]

ServerSignature Off
ServerTokens Prod